/* Сперва общие правила */

* {
    box-sizing: border-box
}

/* Потом селекторы по тегам */

html {

}

main {
    width: 300px;
    margin: 0px auto;
}

p {

}

a {
text-decoration: none;
color: white;
}

/* Колонки */

.row {
    display: flex;
    margin: 5px 10px;
}
.col {
    flex: auto;
    margin: 5px 10px;
}


/* Потом селекторы по классам */

.text-input {

}

.button {
    margin: 20px 0px;
    padding: 10px 10px;
    background-color: #3b10e5f5;
    border-radius: 5px;
    width: 50%;
}

/* Потом специальные правила по страничкам */

/* Login*/

.input-login {
    margin: 10px 0px;
    padding: 10px 10px;
    border-radius: 5px;
    width: 100%;

}


/* Страничка жанров и тегов */

.genre-first {
    margin: 10px 0px;
    padding: 5px 5px;
    background-color: aquamarine;
    border-radius: 40px;
    width: 100%;
}

.genre-second {
margin: 10px 0px;
    padding: 5px 5px;
    background-color: #45bcc481;
    border-radius: 40px;
    width: 80%;
}

.genre-third {
margin: 10px 0px;
    padding: 5px 5px;
    background-color: #e5291027;
    border-radius: 40px;
    width: 60%;
}

.genre-fourth {
margin: 10px 0px;
    padding: 5px 5px;
    background-color: #e210e538;
    border-radius: 40px;
    width: 40%;
}

.tag {

}

/* Страничка популярного */

.cover {

}

/* Страничка подписки  */

.box-green {

}

.box-purple {

}

.text-large {

}

.button-link {
    margin: 20px 0px;
    padding: 10px 10px;
    background-color: #3b10e5f5;
    border-radius: 5px;
    width: 50%;
}
